<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple App</title>
    <script src="../assets/js/angular1.5.8.min.js"></script>
    <script type="text/javascript">
        angular.module('simpleApp',[])
            .controller('Ctrl', function ( $scope ) {
                $scope.students = [
                    'Roman Mahotsky',
                    'Pavlo Hibey',
                    'Oksana Kuzmych',
                    'Serhiy Pavlov',
                    'Tetyana Kandybal',
                    'Andriy Vasylytsya',
                    'Yura Yarovyj',
                    'Volodymyr Stakhov',
                    'Yaroslav Melnyk',
                    'Volodymyr Harhay',
                    'Mariana Zadorozhna',
                    'Andriy Leskiv',
                    'Marta Dropko',
                    'Vitalina Kovalchuk',
                    'Rostyslav Skyba'
                ];
            });
    </script>
</head>
<body ng-app="simpleApp" ng-controller="Ctrl">
    <input type="text" ng-model="query" placeholder="Search...">
    <ul>
        <li ng-repeat="name in students | filter : query">
            {{ name }}
        </li>
    </ul>
</body>
</html>